<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <a class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        <img src="https://cdn1.iconfinder.com/data/icons/nuvola2/128x128/apps/konqsidebar_mediaplayer.png"
                            height="30" width="30" alt="">  MovieStore 
                    </a>
                </li>
                <form class="search" action="">
                    <input type="text" name="search" [(ngModel)]="searchKey" class="textbox" placeholder="Search">
                    <button title="Search" (click)="searchBox()" value="" type="submit" class="button"><i
                            class="fa fa-search"></i></button>
                </form>
                <br><br><br>
                <li>
                    <a href="#" (click)="getMovies()">Home</a>
                </li>
                <li>
                    <a>Genres</a>
                </li>

            </a>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div *ngFor="let movie of movies " class="ui card">
                            <div name="image" class="image" ngDefaultControl>
                                <a class="aimage" href="#"> <img id="poster" (click)="getDetails(movie.id)"
                                        (click)="openVerticallyCentered(content)"
                                        src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"></a>
                            </div>
                            <div class="content">
                                <a class="header">
                                    <p>{{movie.original_title}}</p>
                                </a>
                            </div>
                            <!-- Details Modal -->
                            <ng-template #content let-modal>
                                <div *ngIf="details" id="modal-container">
                                    <div class="poster">
                                        <img class="movie-image"
                                            src="https://image.tmdb.org/t/p/original{{movie.poster_path}}">
                                    </div>
                                    <div (click)="modal.dismiss('Cross click')" id="close">
                                        <span aria-hidden="true">&times;</span>
                                    </div>
                                    <a (click)="getCredits(movie.id)" (click)="toggleCastBtn()" (click)="toggleCast()"
                                        id="cast-button">CAST</a>
                                    <div id="cast">

                                        <div *ngFor="let credit of credits; let i=index" class="ui-card">
                                            <span *ngIf="i<20"><img
                                                    src="https://image.tmdb.org/t/p/original{{credit.profile_path}}"
                                                    onError="src='https://laurauinteriordesign.com/wp-content/uploads/2018/03/avatar-placeholder.png'"
                                                    alt="Avatar" class="avatar"><br>
                                                <span>{{credit.name}}</span><br>
                                                <ng-container *ngIf="credit.character; else elseTemplate">
                                                    {{credit.character}}
                                                </ng-container>
                                                <ng-template #elseTemplate>
                                                    (undefined)
                                                </ng-template>

                                            </span>
                                        </div>
                                    </div>
                                    <div class="modal-info">
                                        <div class="title">{{movie.original_title}}</div>
                                        <div class="title-info">
                                            <div class="genre">
                                                {{details.genres[0].name}}
                                            </div>
                                            <!-- &nbsp;/&nbsp; {{details.genres[1].name}} -->
                                            <div class="release-date">
                                                <i class="fa fa-calendar" aria-hidden="true">
                                                </i> &nbsp;{{details.release_date}}
                                            </div>
                                            <div *ngIf="details.runtime" class="runtime">
                                                <i class="far fa-clock"></i>&nbsp;{{details.runtime}}&nbsp;min
                                            </div>
                                            <div class="imdb-id">
                                                <a href="https://www.imdb.com/title/{{details.imdb_id}}"
                                                    target="_blank">
                                                    <i class="fab fa-imdb"></i>
                                                </a><span>&nbsp;&nbsp;{{details.vote_average}}&nbsp;Metascore</span>
                                            </div>
                                        </div>
                                        <div class="synopsisText">{{movie.overview}}
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <!-- Details Modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

</body>
<!-- /#wrapper -->
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $("#toogle").click(function () {
        $(".hide").toggle('slow');
    });
</script>

<!-- *ngFor="let movie of movies" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" -->